/* ---- STEP 1: DEFINE LAYERS ---- */
#define ABC 0
#define XTRA 1
#define XTR2 2
#define XTR3 3
#define XTRA4 4
#define GAME 5
#define G1_1 6
#define GTGL 7
#define GME2 8
#define G2_1 9
#define GME3 10
#define G3_1 11
#define GME4 12
#define G4_1 13
#define TOG 14
#define T1 15
#define T1_1 16
#define T1_2 17
#define T1_3 18
#define T1_4 19
#define T2 20
#define T2_1 21
#define T2_2 22
#define T2_3 23
#define T2_4 24

/* ---- STEP 1a: DEFINE COLORS ---- */
#define RGB_ABC RGB_COLOR_HSB(19,100,17)      /* BASE        - Dim Yellow */
#define RGB_XTRA RGB_COLOR_HSB(183,45,18)      /* SUB-LAYOUT  - Teal */
#define RGB_XTR2 RGB_COLOR_HSB(230,87,26)      /* SUB-LAYOUT  - Pale Blue */
#define RGB_XTR3 RGB_COLOR_HSB(273,67,23)      /* SUB-LAYOUT  - Light Purple */
#define RGB_XTRA4 RGB_COLOR_HSB(116,67,26)      /* SUB-LAYOUT  - Pale Green */
#define RGB_GAME RGB_COLOR_HSB(0,100,25)      /* SUB-BASE    - Red */
#define RGB_G1_1 RGB_COLOR_HSB(116,67,50)      /* SUB-LAYOUT - Bright Yellow */
#define RGB_GTGL RGB_COLOR_HSB(200,100,60)      /* GATEWAY - Cyan */
#define RGB_GME2 RGB_COLOR_HSB(73,67,15)      /* SUB-BASE    - Dim Emerald */
#define RGB_G2_1 RGB_COLOR_HSB(67,55,20)      /* SUB-LAYOUT */
#define RGB_GME3 RGB_COLOR_HSB(58,100,21)      /* SUB-BASE */
#define RGB_G3_1 RGB_COLOR_HSB(58,100,40)      /* SUB-LAYOUT */
#define RGB_GME4 RGB_COLOR_HSB(138,100,18)      /* SUB-BASE */
#define RGB_G4_1 RGB_COLOR_HSB(58,100,40)      /* SUB-LAYOUT */
#define RGB_TOG RGB_COLOR_HSB(251,67,60)      /* GATEWAY - Indigo */
#define RGB_T1 RGB_COLOR_HSB(40,50,12)      /* SUB-BASE  - Yellow */
#define RGB_T1_1 RGB_COLOR_HSB(58,50,20)      /* SUB-LAYOUT */
#define RGB_T1_2 RGB_COLOR_HSB(211,50,40)      /* SUB-LAYOUT */
#define RGB_T1_3 RGB_COLOR_HSB(291,50,40)      /* SUB-LAYOUT */
#define RGB_T1_4 RGB_COLOR_HSB(51,50,40)      /* SUB-LAYOUT */
#define RGB_T2 RGB_COLOR_HSB(85,75,15)      /* SUB-BASE  - Lime */
#define RGB_T2_1 RGB_COLOR_HSB(44,75,40)      /* SUB-LAYOUT  - Bright Lime */
#define RGB_T2_2 RGB_COLOR_HSB(74,75,38)      /* SUB-LAYOUT */
#define RGB_T2_3 RGB_COLOR_HSB(125,75,40)      /* SUB-LAYOUT */
#define RGB_T2_4 RGB_COLOR_HSB(175,75,40)      /* SUB-LAYOUT */
#define RGB_BLINK_ON RGB_COLOR_HSB(39,100,75)      /* Blink On - Bright Yellow (change to whatever you want, multiple colors can be made like shown below) */
#define RGB_N_BLINK_ON RGB_COLOR_HSB(0,100,60)      /* Num On - Bright Red */
#define RGB_C_BLINK_ON RGB_COLOR_HSB(200,100,60)      /* Caps On - Cyan */
#define RGB_F_BLINK_ON RGB_COLOR_HSB(73,67,60)      /* Functions - Bright Emerald */

/* ---- (OPTIONAL) BLINK HELPERS ---- */
#define RGB_RGB_BLINK_ON RGB_COLOR_HSB(39,100,75)      /* Blink On - Bright Yellow (change to whatever you want, multiple colors can be made like shown below) */
#define RGB_RGB_N_BLINK_ON RGB_COLOR_HSB(0,100,60)      /* Num On - Bright Red */
#define RGB_RGB_C_BLINK_ON RGB_COLOR_HSB(200,100,60)      /* Caps On - Cyan */
#define RGB_RGB_F_BLINK_ON RGB_COLOR_HSB(73,67,60)      /* Functions - Bright Emerald */

/* ---- HELPER DEFINITIONS ---- */
#define BLINK_SEQ(ON, OFF, WAIT) \
    &macro_tap &rgb_ug ON \
    &macro_wait_time WAIT \
    &macro_tap &rgb_ug RGB_TOG \
    &macro_wait_time WAIT \
    &macro_tap &rgb_ug RGB_TOG \
    &macro_wait_time WAIT \
    &macro_tap &rgb_ug RGB_TOG \
    &macro_wait_time WAIT \
    &macro_tap &rgb_ug RGB_TOG \
    &macro_wait_time WAIT \
    &macro_tap &rgb_ug OFF
#define MO_RGB(node_name, node_label, layer, active_color, release_color) \
        ZMK_MACRO(node_name, \
            bindings = \
                <&macro_press>, \
                <&mo layer>, \
                <&macro_tap>, \
                <&rgb_ug active_color>, \
                <&macro_pause_for_release>, \
                <&macro_release>, \
                <&mo layer>, \
                <&macro_tap>, \
                <&rgb_ug release_color>; \
            label = node_label; \
        )
#define TO_RGB(node_name, node_label, layer, color) \
        ZMK_MACRO(node_name, \
            bindings = \
                <&macro_tap>, \
                <&to layer>, \
                <&macro_tap>, \
                <&rgb_ug color>; \
            label = node_label; \
        )
#define TO_RGB_PRESS(node_name, node_label, layer, color) \
        ZMK_MACRO(node_name, \
            bindings = \
                <&macro_tap>, \
                <&to layer>, \
                <&macro_press>, \
                <&rgb_ug color>; \
            label = node_label; \
        )
#define RGB_HT(node_name, node_label, macro_ref) \
        node_name: node_name { \
            compatible = "zmk,behavior-hold-tap"; \
            label = node_label; \
            bindings = <&macro_ref>, <&kp>; \
            #binding-cells = <2>; \
            tapping-term-ms = <200>; \
            flavor = "tap-preferred"; \
            quick-tap-ms = <180>; \
            global-quick-tap; \
        };
#define CMB(name, bind, keypos, ...) \
    name { bindings = <bind>; key-positions = <keypos>; layers = <__VA_ARGS__>; timeout-ms = <50>; }
/* EXPERIMENTAL: Blink helper - Hardcode a &kp you want to "blink", used in conjunction with tap-dance*/
#define KP_BLINK(node_name, node_label, key, blink_color, return_color, wait) \
         ZMK_MACRO(node_name, \
            label = node_label; \
            bindings = <&macro_tap &kp key>, \
            <BLINK_SEQ(blink_color, return_color, wait)>; \
        )
 /{
    /* ---- STEP 2+3: MACROS ---- */
    macros {
        /* Toggled and momentary macros for RGB layers */
        /* Momentary Layers:
        These are bound to a hold-tap behavior for full effect */
        MO_RGB(mo_rgb_xtr4, "xtra2Layer Momentary LED", XTRA4, RGB_XTRA4, RGB_ABC)
        MO_RGB(mo_rgb_xtra2, "KeyPadLayer Momentary LED", XTR2, RGB_XTR2, RGB_ABC)
        MO_RGB(mo_rgb_xtr3, "ExtraLayer Momentary LED", XTR3, RGB_XTR3, RGB_ABC)
        MO_RGB(mo_rgb_xtr, "NumberRowLayer Momentary LED", XTRA, RGB_XTRA, RGB_ABC)
        MO_RGB(mo_rgb_g1_s1, "GameLayer Sublayer Momentary LED", G1.1, RGB_G1.1, RGB_GAME)
        MO_RGB(mo_rgb_t2_s1, "ToggleLayer2 SubLayer1 Momentary LED", T2_1, RGB_T2_1, RGB_T2)
        MO_RGB(mo_rgb_t1_s1, "ToggleLayer1 Sublayer1 Momentary LED", T1_1, RGB_T1_1, RGB_T1)
        MO_RGB(mo_rgb_g2_s1, "GameLayer2 SubLayer1 Momentary LED", G2_1, RGB_G2_1, RGB_GME2)
        /* TOGGLED Layers:
        These are bound straight to the keymap, OR to a combo. */
        TO_RGB(to_rgb_default, "Toggle Base Layer LED", ABC, RGB_ABC)
        TO_RGB(to_rgb_t1, "Toggle ToggleLayer1 LED", T1, RGB_T1)
        TO_RGB(to_rgb_t2, "Toggle ToggleLayer2 LED", T2, RGB_T2)
        TO_RGB(to_rgb_game, "Toggle GameLayer LED", GAME, RGB_GAME)
        TO_RGB(to_rgb_g2_s1, "Toggle Game2 SubLayer1 LED", G2_1, RGB_G2_1)
        TO_RGB(to_rgb_g2, "Toggle Game2 LED", GME2, RGB_GME2)
        //Toggle Layers/Gateways
        TO_RGB_PRESS(top_rgb_toglayers, "TO PRESS ToggleLayer", TOG, RGB_TOG)
        TO_RGB_PRESS(top_rgb_gtog, "TO PRESS GameToggle", GTGL, RGB_GTGL)
    };
    blnk: blnk {
                        compatible = "zmk,behavior-macro-one-param";
                        label = "Configurable Blink";
                        #binding-cells = <1>;
                        wait-ms = <0>;
                        tap-ms  = <0>;
                        bindings = <
                        &macro_param_1to1
                        &macro_tap &kp MACRO_PLACEHOLDER
                        BLINK_SEQ(BLINK_ON, RGB_XTRA, 80)
                        >;
                    }
    /* ---- (optional) BLINK/STATUS MACROS ---- */
    // EXPERIMENTAL (STANDALONE)
        KP_BLINK(c_blink, "CAPS LOCK + BLINK", CAPS, C_BLINK_ON, RGB_ABC, 80)
        KP_BLINK(n_blink, "NUM LOCK + BLINK", KP_NUMLOCK, N_BLINK_ON, RGB_ABC, 80)
    /* ---- STEP 4: BEHAVIORS - HOLD-TAP ---- */
    behaviors {
        RGB_HT(RGB_ht_xtr, "RGB HOLD_TAP_XTR", mo_rgb_xtra)
        RGB_HT(RGB_ht_xtr2, "RGB HOLD_TAP_XTR2", mo_rgb_xtra2)
        RGB_HT(RGB_ht_xtra4, "RGB HOLD_TAP_XTRA4", mo_rgb_xtr4)
        RGB_HT(RGB_ht_xtr3, "RGB HOLD_TAP_XTR3", mo_rgb_xtr3)
        RGB_HT(RGB_ht_g1_s1, "RGB HOLD_TAP_Game1_SubLayer1", mo_rgb_g1_s1)
        RGB_HT(RGB_ht_t2_s1, "RGB HOLD_TAP_Layer2_SubLayer1", mo_rgb_t2_s1)
        RGB_HT(RGB_ht_g2_s1, "RGB HOLD_TAP_Game2_SubLayer1", mo_rgb_g2_s1)
        RGB_HT(RGB_ht_t1_s1, "RGB HOLD_TAP_ToggleLayer1_SubLayer1", mo_rgb_t1_s1)
        RGB_HT(BLINK_ht_f, "f blink test; &kp BINDABEL", f_blink_sa)

        hm: homerow_mods {
                                            compatible = "zmk,behavior-hold-tap";
                                            label = "HOMEROW_MODS";
                                            #binding-cells = <2>;
                                            tapping-term-ms = <200>;
                                            quick_tap_ms = <0>;
                                            flavor = "tap-preferred";
                                            bindings = <&kp>, <&kp>;
                                            quick-tap-ms = <180>;
                                            global-quick-tap;
                                        }

        ltq: ltq {
                                            compatible = "zmk,behavior-hold-tap";
                                            label = "LTQ";
                                            bindings = <&mo>, <&kp>;
                                            #binding-cells = <2>;
                                            tapping-term-ms = <600>;
                                            global-quick-tap;
                                            quick-tap-ms = <400>;
                                        }

        td_numcaps: td_numcapsBLINK {
                                            compatible = "zmk,behavior-tap-dance";
                                            #binding-cells = <0>;
                                            tapping-term-ms = <300>;
                                            bindings = <&kp LSFT>, <&c_blink>, <&n_blink>;
                                        }
    };
    /* ---- (OPTIONAL) STEP 5: COMBOS ---- */
    combos {
        compatible = "zmk,combos";
        CMB(left_bkt, &kp LEFT_BRACKET, 4 3, ABC);
        CMB(right_bkt, &kp RBKT, 7 8, ABC);
        CMB(left_par, &kp LEFT_PARENTHESIS, 15 16, ABC);
        CMB(right_par, &kp RIGHT_PARENTHESIS, 19 20, ABC);
        CMB(left_brace, &kp LEFT_BRACE, 27 28, ABC);
        CMB(right_brace, &kp RIGHT_BRACE, 32 31, ABC);
        CMB(bac, &kp BACKSLASH, 5 6, ABC);
        CMB(pipe, &kp PIPE, 17 18, ABC);
        //Pathing
        // Gateways
        CMB(toggleLayer, &top_rgb_toglayer, 55 56, ABC T1 T2);
        CMB(game_toggle, &top_rgb_gtog, 55 56, GAME GME2);
        // To (Sub)Base
        CMB(gameLayer_2_BaseLayer, &to_rgb_default, 0 11, GAME);
        CMB(gameLayer, &to_rgb_game, 0 11, ABC TOG GME2);
        // "Exit" Combos; Return to (Sub)Base
        CMB(toggleLayer_2_BaseLayer, &to_rgb_default, 55 56, TOG);
        CMB(game_toggle_2_game, &to_rgb_game, 55 56, GTGL);
    };
 };
